<a href="/index.php/index/index/" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">蒙古文词典</h5></a>
<a href="/index.php/index/noun/index" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">蒙古文词网</h5></a>
<a href="/index.php/index/english/index" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">英文词网</h5></a>
<!--<a href="/index.php/index/chinese/index" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">中文词网</h5></a>-->
<a href="/index.php/index/manage/index" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">登录后台</h5></a>