<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>蒙古文词典检索</title>

<link rel="stylesheet" type="text/css" href="/public/css/my.css" />

</head>
<style>
.all{

}
</style>
<body>
<a href="/index.php/index/index/wordnet" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">WordNet搜索</h5></a>
<a href="/index.php/index/noun/index" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">蒙古文词网</h5></a>
<a href="/index.php/index/english/index" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">英文词网</h5></a>
<a href="/index.php/index/chinese/index" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">中文词网</h5></a>

<a href="/index.php/index/manage/index" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">登录后台</h5></a>
<h1 align="center" style="margin-top: 80px;margin-bottom: -90px;">蒙古文词典检索</h1>
<div class="all" id="out" style="">
	<!--<input name="type" checked type="radio" onchange="tiaozhuan1();" value="1">拉丁<input onchange="tiaozhuan2();" name="type" type="radio" value="1">汉语-->

	<div id="ser_box">
		 <input type="search" name="content"  id="ipt" /><span><input id="su" onclick="tiaozhuan();" value="搜索一下" class="bg s_btn" type="button"></span>
	</div>

	<div id="bot_box">
		<ul id="oul"></ul>
	</div>
	<!--根部的级别-->
	<!--<select name="">-->
		<!--<option>选择数字</option>-->
		<!--<option>0</option>-->
		<!--<option>1</option>-->
		<!--<option>2</option>-->
		<!--<option>3</option>-->
		<!--<option>4</option>-->
		<!--<option>5</option>-->
		<!--<option>6</option>-->
		<!--<option>7</option>-->
		<!--<option>8</option>-->
		<!--<option>9</option>-->
	<!--</select>-->
	<!--底部的级别-->
	<!--<select name="">-->
		<!--<option>选择数字</option>-->
		<!--<option>0</option>-->
		<!--<option>1</option>-->
		<!--<option>2</option>-->
		<!--<option>3</option>-->
		<!--<option>4</option>-->
		<!--<option>5</option>-->
		<!--<option>6</option>-->
		<!--<option>7</option>-->
		<!--<option>8</option>-->
		<!--<option>9</option>-->
	<!--</select>-->
</div>
<script>
	function tiaozhuan(){
	    var content = document.getElementById('ipt').value;
        window.open("/index.php/index/index/select_show?content=" + content);
    }
    function tiaozhuan1(){
        location.href = "http://www.function.com/index.php?c=index&a=select";
    }
    function tiaozhuan2(){
        location.href("http://www.function.com/index.php?c=index&a=select2");
    }
</script>
<script src="/public/js/my.js" type="text/javascript" charset="utf-8"></script>


</body>
</html>

