<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>蒙古文词典检索</title>

<link rel="stylesheet" type="text/css" href="/public/css/my.css" />

</head>
<style>
.all{

}
</style>
<body>
<a href="/index.php" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">词典搜索</h5></a>
<a href="/index.php/index/manage/index" target="_blank"><h5  align="right" style="margin-top: 10px;margin-right: 50px;color: #0a001f;">登录后台</h5></a>
<h1 align="center" style="margin-top: 80px;margin-bottom: -90px;">WordNet词网检索</h1>
<div class="all" id="out" style="">
	<!--<input name="type" checked type="radio" onchange="tiaozhuan1();" value="1">拉丁<input onchange="tiaozhuan2();" name="type" type="radio" value="1">汉语-->

	<div id="ser_box">
		 <input type="search" name="content"  id="ipt" /><span><input id="su" onclick="tiaozhuan();" value="生成词网" class="bg s_btn" type="button"></span>
	</div>

	<div id="bot_box">
		<ul id="oul"></ul>
	</div>
	<br>
	语言
	<select name="lang" id="lang">
		<option value="1">蒙古文</option>
		<option value="2">英文</option>
		<option value="3">中文</option>
	</select>
	根部
	<select name="root" id="root">
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	底部
	<select name="lower" id="lower">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<!--<option>6</option>-->
		<!--<option>7</option>-->
		<!--<option>8</option>-->
		<!--<option>9</option>-->
	</select>
	显示方式
	<select name="show" id="show">
		<option value="0">词网树状图</option>
		<option value="1">数组键值关系</option>
		<option value="2">Json格式数组</option>
		<!--<option>6</option>-->
		<!--<option>7</option>-->
		<!--<option>8</option>-->
		<!--<option>9</option>-->
	</select>
</div>
<script>
	function tiaozhuan(){
	    var content = document.getElementById('ipt').value;
	    var root = document.getElementById('root').value;
	    var lower = document.getElementById('lower').value;
        var show = document.getElementById('show').value;
        var lang = document.getElementById('lang').value;
        window.open("/index.php/index/index/wordnet_show?content=" + content + '&root=' + root + '&lower=' + lower + '&show=' + show + '&lang=' + lang);
    }

</script>
<script src="/public/js/my_wordnet.js" type="text/javascript" charset="utf-8"></script>


</body>
</html>

