<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/public/menggu/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/public/menggu/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/public/menggu/css/amazeui.min.css" />
    <link rel="stylesheet" href="/public/menggu/css/admin.css">
    <link rel="stylesheet" href="/public/menggu/css/app.css">
</head>
<style>
    @font-face
    {
        font-family: myFirstFont;
        src: url('/public/font/MHT.ttf');
        /*url('aa.eot'); !* IE9+,可以是具体的实际链接 *!*/
    }
    body
    {
        font-family: myFirstFont;
    }
</style>
<body data-type="generalComponents">


    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="/public/menggu/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">

                <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">已登录</span><span class="tpl-header-list-user-ico"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="/index.php/index/login/logout"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="/index.php/index/login/logout" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                系统管理项
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="" class="nav-link ">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>


                    <li class="tpl-left-nav-item">
                        <!-- 打开状态 a 标签添加 active 即可   -->
                        <a href="/index.php/index/manage/index?page=1" class="nav-link tpl-left-nav-link-list ">
                            <i class="am-icon-table"></i>
                            <span>列表</span>
                            <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                            <!--<i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>-->
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 详细信息
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <!--<i class="am-icon-search"></i>-->
                                <input type="hidden" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">

                        <div class="am-u-sm-12 am-u-md-9">

                            <form class="am-form am-form-horizontal" method="post" action="/index.php/index/manage/form?type=1">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label"></label>
                                    <div class="am-u-sm-9" style="color: red">
                                        {$state}
                                    </div>
                                </div>
                                <input type="hidden" name="id" value="{$list.id}">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">汉语词性</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="cixing" value="{$list.cixing}" id="user-name" placeholder="请输入汉语词性">
                                        <small></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-email" class="am-u-sm-3 am-form-label">汉语词语</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="ciyu" value="{$list.ciyu}" id="user-email" placeholder="请输入汉语词语">
                                        <small></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">全拼音</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="pinyin" value="{$list.pinyin}" id="user-phone" placeholder="请输入全拼音">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-QQ" class="am-u-sm-3 am-form-label">例句译文</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="yiwen" value="{$list.yiwen}" id="user-QQ" placeholder="请输入例句译文">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label  class="am-u-sm-3 am-form-label">汉语例句</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="liju" value="{$list.liju}" placeholder="请输入汉语例句">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label  class="am-u-sm-3 am-form-label">蒙古文拉丁转换</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="ladin" value="{$list.ladin}" placeholder="请输入蒙古文拉丁转换">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label  class="am-u-sm-3 am-form-label">蒙古语词语</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="menggu" value="{$list.menggu}" placeholder="请输入蒙古语词语">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label  class="am-u-sm-3 am-form-label">汉语解释</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="hanyu" value="{$list.hanyu}" placeholder="请输入汉语解释">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label  class="am-u-sm-3 am-form-label">置信度</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="zxd" value="{$list.zxd}" placeholder="请输入置信度">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label  class="am-u-sm-3 am-form-label">备注</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="beizhu" value="{$list.beizhu}" placeholder="请输入备注">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>










        </div>

    </div>


    <script src="/public/menggu/js/jquery.min.js"></script>
    <script src="/public/menggu/js/amazeui.min.js"></script>
    <script src="/public/menggu/js/app.js"></script>
</body>

</html>